body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
  line-height: 1.5;
}
body {
  box-sizing: border-box;
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  min-width: 350px;
}
#toast {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 3em;
  margin: auto;
  width: 90%;
  background: #252831;
  color: #ffffff;
  padding: 1em 1em;
  text-align: center;
  opacity: 0.9;
  max-width: 1218px;
  visibility: hidden;
}
#toast.visible {
  visibility: visible;
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ddd;
  text-decoration: none;
}
a img {
  border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0.6em;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #252831;
  color: #ccc;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}
a.skip-link {
  position: absolute;
  top: -2.4em;
  left: 0;
  background: #BF1722;
  color: white;
  padding: 0.3em;
  z-index: 100;
}
a.skip-link:focus {
  top: 0;
}
/* ====================== Navigation ====================== */

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #252831;
  text-align: center;
  align-items: center;
}
nav h1 {
  margin: auto;
  padding: 0.3em;
}
nav h1 a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 200;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 0.3em 0;
  list-style: none;
  background-color: #eee;
  font-size: 1.05em;
  margin: 0;
  width: 100%;
  text-align: center;
}
/* Display list items side by side */

#breadcrumb li {
  display: inline;
}
/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 0.3em;
  color: black;
  content: "/\00a0";
}
/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0155b8;
  text-decoration: none;
}
/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  height: auto;
  background-color: #3397DB;
  text-align: center;
  padding: 0.3em;
}
.filter-options h2 {
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  margin: auto;
  padding: 0.3em;
}
.filter-options h3 {
  padding-top: 0.6em;
  margin-bottom: 0;
  margin-right: 0.3em;
}
.filter-options select {
  display: block;
  background-color: white;
  border: 0.1em solid #fff;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  height: 35px;
  letter-spacing: 0;
  margin: 0.3em auto;
  padding: 0 0.3em;
  min-width: 200px;
}
.filter-options select:focus {
  outline: 0.1em solid #252831;
  outline-offset: 0;
}
/* ====================== Restaurant Listing ====================== */

.restaurant {
  display: flex;
  flex-direction: column;
}
.restaurant h2, p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0.9em 0 1.8em 0;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 0.1em solid #ccc;
  font-family: Arial, sans-serif;
  margin: 0.4em;
  padding: 1.2em;
  text-align: left;
  width: 100%;
  min-width: 250px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #c15200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0.6em 0 0.3em;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #d16200;
  border-bottom: 0.1em solid #eee;
  display: inline-block;
  font-size: 10pt;
  margin: 1em auto 0;
  padding: 0.3em 0.9em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 16em;
}
#restaurants-list li a:focus {
  outline-style: none;
  border: 0.1em solid #252831;
  background-color: #c15200;
}
/* ====================== Restaurant Details ====================== */

.inside #maincontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  width: 100%;
}
#restaurant-name, #review-title, #own-review-title {
  color: #c15200;
  font-family: Arial, sans-serif;
  font-size: 1.7em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0.6em 0;
  text-transform: uppercase;
  line-height: 1.2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#restaurant-img {
  width: 100%;
}
#restaurant-address {
  font-size: 1em;
  margin: 0.3em 0;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.3em;
  margin: 0 auto;
  margin-bottom: 0.6em;
  padding: 0.1em 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-hours {
  margin: 0 auto;
  margin-top: 0.3em;
  width: 90%;
}
.restaurant-hours-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.3em;
}
.restaurant-hours-day {
  width: 25%;
  text-align: left;
}
.restaurant-hours-time {
  text-align: right;
  min-width: auto;
  flex-basis: 70%;
}
#restaurant-container, #reviews-container {
  border-bottom: 0.1em solid #d9d9d9;
  border-top: 0.1em solid #fff;
  padding: 0.6em 0.6em;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -0.1em;
  display: flex;
  flex-direction: column;
}
#review-own {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.reviews-item, .reviews-form {
  background-color: #fff;
  margin-bottom: 0.6em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.reviews-form {
  display: flex;
  flex-direction: column;
}
.review-form-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 0.3em;
}
.review-form-label {
  font-weight: bold;
  text-align: left;
  flex: 0 0 6.5em;
}
.review-form-item {
  flex-grow: 8;
}
.review-header {
  width: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto: 0.3em;
}
.review-header {
  margin: 0 0 0.6em 0;
}
.review-name {
  margin: 0;
}
.review-date {
  margin: 0;
}
.review-rating {
  margin: 0;
}
.review-comments {
  margin: 0.3em 0;
  text-align: left;
}
.review h2, p {
  white-space: inherit;
  overflow: auto;
  text-overflow: inherit;
}
/* ====================== Media Queries: Main ====================== */

@media screen and (min-width: 500px) {
  .filter-options select {
    display: inline-block;
    margin: 0.3em;
  }
}
@media screen and (min-width: 720px) {
  .filter-options h2 {
    flex-grow: 1;
    width: 30%;
  }
  .selects {
    display: flex;
    padding-right: 80px;
  }
  .filter-options {
    display: flex;
    padding: 0.3em 1.2em;
    justify-content: center;
  }
  #restaurants-list li {
    width: calc((100% - 188px)/2);
    padding: 1.2em;
  }
  #restaurants-list {
    max-width: 1100px;
    margin: 0 auto;
  }
  #restaurant-hours {
    margin: 0 auto;
    margin-top: 0.6em;
    color: #666;
  }
  #restaurant-container {
    width: calc((100% - 80px)/2);
  }
  #reviews-container {
    width: calc((100% - 80px)/2);
    max-width: 800px;
  }
}
/* For detail screen */

@media screen and (min-width: 1000px) {
  #restaurant-hours tr td:first-child {
    padding-right: 35%;
  }
}
@media screen and (min-width: 1250px) {
  .filter-options h2 {
    flex-grow: 1;
    width: 30%;
  }
  .selects {
    flex-grow: 2;
  }
  .filter-options {
    justify-content: center;
  }
  #restaurants-list li {
    width: calc((100% - 282px)/3);
  }
  html {
    margin: 0 calc((100% - 1250px)/2);
  }
}